.navibar{
    /* 
    플렉스 박스로 만들어준다.
    가로 방향 정려
     */
    display: flex;

    /*
    옆으로 정렬해주기 해주기
    space-between은 컨텐츠 사이에 중간중간
    스페이스를 넣어주는 역할을 한다.
    현재 있는 축(수평)에서 할려면 
    justify-content
     */
    justify-content: space-between;

    /* 
    수직으로 정렬을 해보겠습니다.
    현재 주어진 축과 반대방향으로 적용을시킨다.(수직)
    수직의 중앙으로 맞춰준다.
    */
    align-items: center;

    /* 
    색상을 입혀보자.
     */
    background-color: #263343;

    /* 전체적으로 모서리가
    붙어있어서 pading을 준다.    
    */
    padding: 8px 12px;
}

/* 
원하지 않는 공백을 지워버린다. 
*/
body{
    margin: 0;
}

/* 
 a 태그에 텍스트 밑줄과 색상이 있는데
 text-decoration으로 없애주자.
*/
a {
    text-decoration: none;
    color: white;
}

/* 
  로고 사이즈를 키워보자
*/
.navbar_logo{
    font-size: 24px;
    color: white;
}

/* 
  logo 색상을 입혀본다.
 */
.navbar_logo{
    color: #d49466;
}

/* 
이제 navbar_menu를 flex 박스로 변경하겠습니다.
*/
.navbar_menu{
    display: flex;

    /* 
    list 목록으로 되어있어서 점점점으로 되어있는데
    이녀석을 없애보자.
    */
    list-style: none;
    /* 
    메뉴가 자세히 보면 센터가 아닌 것을 
    알 수 있어서 맞춰주기 위해서 padding을
    적용한다.
     */
    padding-left: 0;
}

/* 
메뉴 아이템들이 다닥다닥 붙어있기 때문에
스페이스를 넣어서 정렬을 해준다.
*/
.navbar_menu li{
    padding: 8px 12px;
}

/* 
link icon의 스타일을 지정한다.
점점점 생긴 목록 스타일을 없애주고
스타일을 지정해준다.
*/
.navbar_icons{
    list-style: none;
    color: white;

    /* 너네들 옆으로 정렬해 */
    display: flex;
    padding-left: 0;
}

/* navbar_icons의 간격이 
   다닥다닥 붙어있어서 간격을 넣어보자.
 */
.navbar_icons li{
    /* 위아래 양옆 padding */
    padding: 8px 12px;
}

/* 메뉴에 마우스를 올리면 배경색이 변경되도록
   해보자.
 */
.navbar_menu li:hover{
    background-color: #d49466;
    border-radius: 4px;
}

/* 
  원래 문서의 흐름에서 빠져나와서 
  지정된 위치에 정돈이 되게 하도록 적용
*/
.navbar_togleBtn{
    /* 원래 문서의 흐름을 벗어나는 방법 
       포지션을 절대 경로로 지정해준다.
    */
    position: absolute;
    /* 오른쪽의 적당한 위치에 위치하도록 해준다. */
    right: 40px;
    font-size: 24px;
    color: #d49466;

    /* 햄버거빵이 기본으로 안보이도록 해준다. */
    display: none;
}

/* 
  반응형 웹사이트로 만들기 위해
  크기가 일정정도 적어졌을때 다르게
  적용할 스타일을 입힌다.
  - 미디어 쿼리를 사용한다.
*/
@media screen and (max-width: 770px) {    
    /* 
    맨 바깥쪽에 있는 .navibar를 
    row 에서 column으로 바꾼다.
    */
    .navibar{
        flex-direction: column;

        /* 
        공간을 여유주기 위해서 padding
            */
        padding : 8px 24px;
    }

    /* 메뉴 목록도 아래로 정렬되게 바꾼다. */
    .navbar_menu{
        /* 처음에 보여지지 않도록 해야 한다. */
        display: none;

        flex-direction: column;

        /* 반대축 아이템즈를 사용해서 center를 
           맞춰준다.
         */
        align-items: center;

        /* width 적용을 하겠습니다. */
        width: 100%;
    }

    /* 
    너비 만큼 하이라이트가 생기도록 해준다.
    */
    .navbar_menu li{
        width: 100%;

        /*
        자동으로 텍스트가 왼쪽으루 붙는다. 
        text-align을 center로 해준다. 
        */
        text-align: center;
    }
    
    /*
    .navbar_icons 방향을 바꾸지 않은 상태(현상태)에서 
    중간으로 가도록 설정해준다.
     */
    .navbar_icons{
        /* 지금 현재 축에서 중간으로 이동 */
        justify-content: center;

        /* 폭을 전체로 설정해준다. */
        width: 100%;

        /* 아이콘도 처음에 보여지지 않아야 한다. */
        display: none;
    }

    /* 사이즈가 작아지면 햄버빵이 보이게 한다. */
    .navbar_togleBtn{
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active{
        display: flex;
    }
}





