/*  1. 필요없는 속성 초기화 */

html, body{
    margin: 0;
    padding: 0;
}

/*  h태그와 p태그는 기본적으로 위 아래 margin 가지고 있는데, margin을 초기화 시켜줘여 함 */
h1, p{
    margin: 0;
}

/* 5. a 태그의 속성 정의 */

a{
    /* 부모로부터 상속 값 적용 */
    color: inherit;
    /* 링크 표시 없애줌 */
    text-decoration: none;
}

/* 3. 배경 추가(배경 반복 없게 no-repeat 사용
vw와 vh와의 차이점
vw와 vh: 가로 세로 지금 가지고 있는 크기의 최대치
%: 마진 빼고 100%가 되기에 정확하게 전체를 다 사용할 경우 vw, vh 사용 
*/
#main{
    background: url(ocean.jpg) no-repeat;
    /* 화면이 꽉 참 cover: 사이즈가 깨지지 않고 가져옴*/
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

/* 4. 컨텐츠 텍스트의 색상 흰색으로 */
#contents{
    color: white;
    font-family: 'Koulen', cursive, 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

