html,body{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    color: white;
    background: url(blacksky.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}



#t{
    position: absolute;
    justify-content: center;
    align-items: center;
    transform: translateX(70%);
}

#root{
    height: 500px;
    width: 250px
}

img{
    max-width: 100%;
    max-height: 100%;
}

a{
    position: absolute;
    /* width: 100%; */
    top: 80%;
    transform: translateY(-50%);
    text-align: center;
    
    display: inline-block;
    font-family: 'Questrial', sans-serif;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 17px;
    transition:all 0.5s;
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: #3A3845;
}

@media(max-width:770px){
    #contents h1{
        font-size: 50px;
    }

    #contents a{
        font-size: 12px;
    }
}
