html,
body {
    margin: 0;
    padding: 0;
}

h1,
p {
    margin: 0;
}


a {
    color: inherit;
    text-decoration: none;
}

#main {
    background: url(astronomy.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

#contents {
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;

    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#contents h1{
    font-family:'Libre Baskerville', serif;
    font-size: 70px;
}

#contents p{
    font-size: 23px;
    margin-bottom: 16px;
}

#contents a{
    display: inline-block;
    font-family: 'Questrial', sans-serif;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 17px;
    transition:all 0.5s;
}


#contents a:hover{
    background-color: #3A3845;
}

@media(max-width:770px){
    #contents h1{
        font-size: 50px;
    }
    #contents p{
        font-size: 20px;
    }

    #contents a{
        font-size: 12px;
    }
}
